a{
	text-decoration: none;
}

.menu-bar{
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	height: 70px;
	line-height: 70px;
}

.header{
	background-image: url(../img/boat.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.menu-bar ul li{
	list-style: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.menu-bar ul li a{
	color: white;
	font-size: 18px;
	transition: 0.5s;
}

.menu-bar ul li a:hover{
	color: black;
	transition: 0.5s;
	transform: scale(2);
}

.social-icons{
	text-align: center;
	text-decoration: none;
	margin: 20px 0;
	position: fixed;
	top: 100px;
	right: 50px;
}

.social-icons ul li{
	list-style: none;
	margin: 10px 10px;
}

.social-icons ul li a i{
	height: 60px;
	width: 60px;
	background-color: black;
	color: white;
	font-size: 22px;
	text-align: center;
	line-height: 60px;
	border-radius: 100px;
	transition: 0.5s ease-in-out;
}

.social-icons ul li a i:hover{
	transform: scale(0.6);
	transition: 0.5s ease-in-out;
}

.registration{
	width: 60%;
	margin: 100px auto;
	background: rgba(0,0,0,0.5);
	padding: 20px 20;
	border-radius: 10px;

}

.form-body{
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	text-align: center;
}

form{
	padding: 10px 200px;
}

.form-body input{
	display: block;
	width: 100%;
	padding: 5px 5px;
	margin: 10px;
	background: transparent;
	border: 1px solid green;
	border-radius: 5px;
}

h1{
	color: white;
}

.submit-button{
	background: skyblue !important;
	color: black;
	width: auto !important;
}